services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: TI_frontend
    working_dir: /usr/src/app
    volumes:
      - ./frontend:/usr/src/app
    environment:
      - CHOKIDAR_USEPOLLING=true  # force polling
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: TI_backend
    working_dir: /usr/src/app
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/usr/src/app

#volumes:
#  node_modules:
